In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [4]:
#orders until 30th of November
train = pd.read_csv("data/training_set_v2.csv", )
train = train.drop('Unnamed: 0',axis=1)
#December set
test_dec = pd.read_csv("data/testset_dec_one_hot.csv")
test_dec = test_dec.drop('Unnamed: 0',axis=1)
#Jan set
test_jan = pd.read_csv("data/testset_jan_one_hot.csv")
test_jan = test_jan.drop('Unnamed: 0',axis=1)

display(test_dec.head())

,userID,itemID,date,Recency,Frequency,MinPurchaseDate,MaxPurchaseDate,NextPurchaseDay,RecencyCluster,FrequencyCluster,OverallScore,NextPurchaseDayRange,High-Value,Low-Value,Mid-Value
0,14358,29151,2020-12-01,27,1,2020-12-01,2020-12-01,0,0,0,0,0,0,1,0
1,44169,30290,2020-12-01,27,1,2020-12-01,2020-12-01,0,0,0,0,0,0,1,0
2,2559,13675,2020-12-01,27,1,2020-12-01,2020-12-01,0,0,0,0,0,0,1,0
3,8242,2896,2020-12-01,27,1,2020-12-01,2020-12-01,0,0,0,0,0,0,1,0
4,26492,8705,2020-12-01,27,1,2020-12-01,2020-12-01,0,0,0,0,0,0,1,0

In [5]:
#preprocess train to have dates-> int and segement as onehot
# only train needed because of mistake in train test notebook (wrong dataframe was used)

#transform columns into dates
#trainset
train['date'] = pd.to_datetime(train['date'])
train['MinPurchaseDate'] = pd.to_datetime(train['MinPurchaseDate'])
train['MaxPurchaseDate']= pd.to_datetime(train['MaxPurchaseDate'])




#get min Date to start the count of days as integers
fromDate = min(train['date'])

train['date'] = (train['date'] - fromDate).dt.days.astype(int)
train['MinPurchaseDate'] = (train['MinPurchaseDate'] - fromDate).dt.days.astype(int)
train['MaxPurchaseDate']= (train['MaxPurchaseDate'] - fromDate).dt.days.astype(int)

#one hot encoder for segment
one_hot = pd.get_dummies(train['Segment'])
train = train.drop('Segment',axis = 1)
train = train.join(one_hot)

train.head()

,userID,itemID,date,Recency,Frequency,MinPurchaseDate,MaxPurchaseDate,NextPurchaseDay,RecencyCluster,FrequencyCluster,OverallScore,NextPurchaseDayRange,High-Value,Low-Value,Mid-Value
0,0,1505,92,90,1,92,92,0,1,0,1,0,0,1,0
1,0,12468,63,119,1,63,63,0,1,0,1,0,0,1,0
2,0,12505,78,104,1,78,78,0,1,0,1,0,0,1,0
3,0,15083,63,119,1,63,63,0,1,0,1,0,0,1,0
4,1,4770,92,90,1,92,92,0,1,0,1,0,0,1,0

In [6]:
#preprocessing for DEC
#testset Dec
test_dec['date'] = pd.to_datetime(test_dec['date'])
test_dec['MinPurchaseDate'] = pd.to_datetime(test_dec['MinPurchaseDate'])
test_dec['MaxPurchaseDate']= pd.to_datetime(test_dec['MaxPurchaseDate'])

#transform dates into count
test_dec['date'] = (test_dec['date'] - fromDate).dt.days.astype(int)
test_dec['MinPurchaseDate'] = (test_dec['MinPurchaseDate'] - fromDate).dt.days.astype(int)
test_dec['MaxPurchaseDate']= (test_dec['MaxPurchaseDate'] - fromDate).dt.days.astype(int)

display(test_dec)

,userID,itemID,date,Recency,Frequency,MinPurchaseDate,MaxPurchaseDate,NextPurchaseDay,RecencyCluster,FrequencyCluster,OverallScore,NextPurchaseDayRange,High-Value,Low-Value,Mid-Value
0,14358,29151,183,27,1,183,183,0,0,0,0,0,0,1,0
1,44169,30290,183,27,1,183,183,0,0,0,0,0,0,1,0
2,2559,13675,183,27,1,183,183,0,0,0,0,0,0,1,0
3,8242,2896,183,27,1,183,183,0,0,0,0,0,0,1,0
4,26492,8705,183,27,1,183,183,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
128184,21938,30857,197,7,5,197,203,6,2,3,5,1,1,0,0
128185,21938,30857,198,7,5,197,203,6,2,3,5,1,1,0,0
128186,21938,30857,203,7,5,197,203,6,2,3,5,1,1,0,0
128187,21938,30857,203,7,5,197,203,6,2,3,5,1,1,0,0
128188,21938,30857,203,7,5,197,203,6,2,3,5,1,1,0,0

In [7]:
#preprocessing for JAN
#testset Jan
test_jan['date'] = pd.to_datetime(test_jan['date'])
test_jan['MinPurchaseDate'] = pd.to_datetime(test_jan['MinPurchaseDate'])
test_jan['MaxPurchaseDate']= pd.to_datetime(test_jan['MaxPurchaseDate'])
#transform dates into count
test_jan['date'] = (test_jan['date'] - fromDate).dt.days.astype(int)
test_jan['MinPurchaseDate'] = (test_jan['MinPurchaseDate'] - fromDate).dt.days.astype(int)
test_jan['MaxPurchaseDate']= (test_jan['MaxPurchaseDate'] - fromDate).dt.days.astype(int)

test_jan

,userID,itemID,date,Recency,Frequency,MinPurchaseDate,MaxPurchaseDate,NextPurchaseDay,RecencyCluster,FrequencyCluster,OverallScore,NextPurchaseDayRange,High-Value,Low-Value,Mid-Value
0,39342,25263,214,27,1,214,214,0,0,0,0,0,0,1,0
1,1453,16059,214,27,1,214,214,0,0,0,0,0,0,1,0
2,7153,13675,214,27,1,214,214,0,0,0,0,0,0,1,0
3,7153,18796,214,27,1,214,214,0,0,0,0,0,0,1,0
4,7153,13791,214,27,1,214,214,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145674,389,31354,238,3,4,226,238,12,3,3,6,2,1,0,0
145675,2551,13523,223,13,4,223,228,5,2,3,5,1,1,0,0
145676,2551,13523,223,13,4,223,228,5,2,3,5,1,1,0,0
145677,2551,13523,223,13,4,223,228,5,2,3,5,1,1,0,0
145678,2551,13523,228,13,4,223,228,5,2,3,5,1,1,0,0

In [9]:
train['NextPurchaseDay'].value_counts()

0      596723
91       1681
112      1619
98       1598
77       1527
        ...
179       249
178       215
181       136
180       125
182        68
Name: NextPurchaseDay, Length: 183, dtype: int64

In [10]:
# drop all the next purchase day = 0

train = train[train.NextPurchaseDay != 0]
train['NextPurchaseDay'].value_counts()

91     1681
112    1619
98     1598
77     1527
63     1508
       ...
179     249
178     215
181     136
180     125
182      68
Name: NextPurchaseDay, Length: 182, dtype: int64

In [11]:
test_dec = test_dec[test_dec.NextPurchaseDay != 0]
test_dec['NextPurchaseDay'].value_counts()

14    170
1     166
7     139
19    129
8     124
15    123
12    121
5     114
18    110
16    110
10    109
3     100
13     97
4      97
2      94
20     81
11     80
9      77
17     76
23     65
6      62
21     55
22     55
25     50
26     42
27     30
24     25
Name: NextPurchaseDay, dtype: int64

In [13]:
test_jan = test_jan[test_jan.NextPurchaseDay != 0]
test_jan['NextPurchaseDay'].value_counts()

12    181
15    172
18    168
21    158
22    157
13    142
7     140
10    139
17    136
19    135
1     135
11    133
23    133
16    128
20    126
14    122
8     120
9     109
5     109
4     103
6      96
3      90
24     89
2      88
25     56
26     35
27     14
Name: NextPurchaseDay, dtype: int64

In [ ]:
from xgboost import XGBoostClassifier()

In [20]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import confusion_matrix

#create train split
x_train = train.drop('NextPurchaseDay', axis=1)
y_train = train['NextPurchaseDay']

#split test data
x_test_dec = test_dec.drop('NextPurchaseDay', axis=1)
y_test_dec = test_dec['NextPurchaseDay']
x_test_jan = test_jan.drop('NextPurchaseDay', axis=1)
y_test_jan = test_jan['NextPurchaseDay']

#create estimator
rfc = RandomForestClassifier(random_state=42)
rfc.fit(x_train, y_train)

rfc_predict_dec = rfc.predict(x_test_dec)
rfc_predict_jan = rfc.predict(x_test_jan)

#confusion matrix
cm_dec = confusion_matrix(y_test_dec, rfc_predict_dec)

In [21]:
print(cm_dec)

[[166   0   0 ...   0   0   0]
 [  0  66  26 ...   0   0   0]
 [  0  84  10 ...   0   0   0]
 ...
 [  0   0   0 ...   0   0   0]
 [  0   0   0 ...   0   0   0]
 [  0   0   0 ...   0   0   0]]

In [22]:
rfc.score(x_test_dec,y_test_dec)

0.19592163134746102

In [23]:
rfc.score(x_test_jan,y_test_jan)

0.16085874299937772

In [24]:
rfc_predict_dec

array([1, 1, 5, ..., 6, 6, 6], dtype=int64)

In [25]:
len(rfc_predict_dec)

2501

In [12]:
#create submission csv for DEC needed rows = 9745
predicted_dec = x_test_dec
#add predicted results
predicted_dec['predicitions'] = rfc_predict_dec 
#select only UID, itemID and prediction
predicted_dec = predicted_dec[['userID','itemID','predicitions']]

#join predicted_dec with submission file
sub_dec = pd.read_csv("data/submission_dec.csv", delimiter="|")
sub_dec_copy = sub_dec.copy()


sub_dec = pd.merge(sub_dec,predicted_dec, how='left', on=['userID','itemID'])


sub_dec = sub_dec.drop('prediction', axis=1)
sub_dec.columns = ['userID','itemID','prediction']
sub_dec = sub_dec.drop_duplicates()
sub_dec['prediction'] = sub_dec['prediction'].isnull().fillna(0.0)

In [13]:
sub_dec['prediction'] = 0  ## 0
sub_dec.loc[sub_dec.prediction>1,'prediction'] = 1 ## 2 weeks
sub_dec.loc[sub_dec.prediction>7,'prediction'] = 2 ## 3 weeks
sub_dec.loc[sub_dec.prediction>14,'prediction'] = 3 # 4 weekds
sub_dec.loc[sub_dec.prediction>21,'prediction'] = 4 # 4 weekds
sub_dec

      userID  itemID  prediction
0          0   20664           0
1          0   28231           0
2         13    2690           0
3         15    1299           0
4         15   20968           0
...      ...     ...         ...
9894   46118   20106           0
9895   46124   19677           0
9896   46125   12878           0
9897   46127    7963           0
9898   46130     395           0

[9745 rows x 3 columns]

In [15]:
sub_dec.to_csv('submission_dec_predict.csv', sep='|', index=False)

In [20]:
#create submission csv for JAN 9940
predicted_jan = x_test_jan
#add predicted results
predicted_jan['predicitions'] = rfc_predict_jan 
#select only UID, itemID and prediction
predicted_jan = predicted_jan[['userID','itemID','predicitions']]

#join predicted_dec with submission file
sub_jan = pd.read_csv("data/submission_jan.csv", delimiter="|")
sub_jan_copy = sub_jan.copy()

sub_jan = pd.merge(sub_jan,predicted_jan, how='left', on=['userID','itemID'])
sub_jan = sub_jan.drop('prediction', axis=1)
sub_jan.columns = ['userID','itemID','prediction']
sub_jan = sub_jan.drop_duplicates()
sub_jan['prediction'] = sub_jan['prediction'].isnull().fillna(0.0)
display(sub_jan)

       userID  itemID  prediction
0           0   20664        True
1           0   28231       False
2          13    2690        True
3          15    1299       False
4          15   20968       False
...       ...     ...         ...
10134   46118   20106        True
10135   46124   19677       False
10136   46125   12878        True
10137   46127    7963        True
10138   46130     395        True

[9940 rows x 3 columns]

In [21]:
sub_jan['prediction'] = 0  ## 0
sub_jan.loc[sub_jan.prediction>1,'prediction'] = 1 ## 2 weeks
sub_jan.loc[sub_jan.prediction>7,'prediction'] = 2 ## 3 weeks
sub_jan.loc[sub_jan.prediction>14,'prediction'] = 3 # 4 weekds
sub_jan.loc[sub_jan.prediction>21,'prediction'] = 4 # 4 weekds
sub_jan

       userID  itemID  prediction
0           0   20664           0
1           0   28231           0
2          13    2690           0
3          15    1299           0
4          15   20968           0
...       ...     ...         ...
10134   46118   20106           0
10135   46124   19677           0
10136   46125   12878           0
10137   46127    7963           0
10138   46130     395           0

[9940 rows x 3 columns]

In [22]:
sub_jan.to_csv('submission_jan_predict.csv', sep='|', index=False)

In [ ]:
def count_points(pred, gold):
    df = pd.merge(pred, gold, on=['userID', 'itemID'], suffixes=('_pred', '_gold'))
    df['points'] = df.apply(_compute_points_for_row, axis=1)
    print(df.shape)
    return df['points'].sum()

def _compute_points_for_row(row):
    y_pred, y_gold = row.prediction_pred, row.prediction_gold
    if y_pred == y_gold:
        # one point if "no order" (0) is predicted correctly; three points if order week is predicted correctly
        return 1 if y_pred == 0 else 3
    # one point if order is predicted correctly (but not the correct week), otherwise zero points
    return 1 if (y_pred > 0 and y_gold > 0) else 0

In [ ]:
predicted_dec

In [ ]:
sub = pd.read_csv("data/submission_dec.csv", delimiter="|")
#predicted_dec['prediction'] = predicted_dec['predicitions']
#predicted_dec = predicted_dec.drop('predicitions', axis=1)
points = count_points(sub_dec, y_test_dec)
points